@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Intro (commune) */
#section-intro {
	background-image: url('/home_intro_bg.jpg.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#section-intro .letter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -17em;
	margin-left: -17em;
	display: inline-block;
	width: 34em;
	height: 34em;
	overflow: hidden;
}

#section-intro .letter .letter-back {
	position: absolute;
	top: -0.5em;
	left: -0.5em;
	width: calc(100% + 1em);
	width: -webkit-calc(100% + 1em);
	height: calc(100% + 1em);
	height: -webkit-calc(100% + 1em);
}

#section-intro .letter .letter-back svg {
	filter: blur(0.5px);
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	width: calc(100% - 1em);
	width: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	height: -webkit-calc(100% - 1em);
}

#section-intro .letter .letter-mid {
	position: absolute;
	top: -0.5em;
	left: -0.5em;
	width: calc(100% + 1em);
	width: -webkit-calc(100% + 1em);
	height: calc(100% + 1em);
	height: -webkit-calc(100% + 1em);
	background-color: white;
	-webkit-mix-blend-mode: darken;
	mix-blend-mode: darken;
}

#section-intro .letter .letter-mid svg {
	filter: blur(0.5px);
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	width: calc(100% - 1em);
	width: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	height: -webkit-calc(100% - 1em);
}

#section-intro .letter .letter-mid .video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/home_c_waves.jpg.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-mix-blend-mode: lighten;
	mix-blend-mode: lighten;
	overflow: hidden;
}

#section-intro .letter .letter-mid .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#section-intro.seen .letter svg path.triggered {
	transition: stroke-dashoffset 1s ease-in-out 1s;
	-webkit-transition: stroke-dashoffset 1s ease-in-out 1s;
	stroke-dashoffset: 0 !important;
}
