@import 'tailwindcss';
@import './animations';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Elms Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Stack Sans Headline', sans-serif;
	font-family: 'Stack Sans Headline', sans-serif;
}

/* Intro (commune) */
#section-intro {
	background-image: url('/home_intro_bg.jpg.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#section-intro .letter {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -17em;
	margin-left: -17em;
	display: inline-block;
	width: 34em;
	height: 34em;
	overflow: hidden;
}

#section-intro .letter .letter-back {
	position: absolute;
	top: -0.5em;
	left: -0.5em;
	width: calc(100% + 1em);
	width: -webkit-calc(100% + 1em);
	height: calc(100% + 1em);
	height: -webkit-calc(100% + 1em);
}

#section-intro .letter .letter-back svg {
	filter: blur(0.5px);
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	width: calc(100% - 1em);
	width: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	height: -webkit-calc(100% - 1em);
}

#section-intro .letter .letter-mid {
	position: absolute;
	top: -0.5em;
	left: -0.5em;
	width: calc(100% + 1em);
	width: -webkit-calc(100% + 1em);
	height: calc(100% + 1em);
	height: -webkit-calc(100% + 1em);
	background-color: white;
	-webkit-mix-blend-mode: darken;
	mix-blend-mode: darken;
}

#section-intro .letter .letter-mid svg {
	filter: blur(0.5px);
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	width: calc(100% - 1em);
	width: -webkit-calc(100% - 1em);
	height: calc(100% - 1em);
	height: -webkit-calc(100% - 1em);
}

#section-intro .letter .letter-mid .video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/home_c_waves.jpg.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-mix-blend-mode: lighten;
	mix-blend-mode: lighten;
	overflow: hidden;
}

#section-intro .letter .letter-mid .video video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}

#section-intro.seen .letter svg path.triggered {
	transition: stroke-dashoffset 1s ease-in-out 1s;
	-webkit-transition: stroke-dashoffset 1s ease-in-out 1s;
	stroke-dashoffset: 0 !important;
}

/* -------------------------------------------------------------------------- */

main section .layer .rope {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

main section .layer .rope svg {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#section-about.seen .rope path.triggered {
	transition: stroke-dashoffset 2s ease-in-out 0s;
	-webkit-transition: stroke-dashoffset 2s ease-in-out 0s;
	stroke-dashoffset: 0 !important;
}

#section-surveillance.seen .rope path.triggered,
#section-livraison.seen .rope path.triggered,
#section-conditionnement.seen .rope path.triggered {
	transition: stroke-dashoffset 2s ease-in-out 0s;
	-webkit-transition: stroke-dashoffset 2s ease-in-out 0s;
	stroke-dashoffset: 0 !important;
}

/* -------------------------------------------------------------------------- */

#section-about.seen .rope path.triggered {
	transition: stroke-dashoffset 2s ease-in-out 0s;
	-webkit-transition: stroke-dashoffset 2s ease-in-out 0s;
	stroke-dashoffset: 0 !important;
}

#section-surveillance.seen .rope path.triggered,
#section-livraison.seen .rope path.triggered,
#section-conditionnement.seen .rope path.triggered {
	transition: stroke-dashoffset 2s ease-in-out 0s;
	-webkit-transition: stroke-dashoffset 2s ease-in-out 0s;
	stroke-dashoffset: 0 !important;
}

/* 💥 Dedicated animation for the vertical line */
#section-conditionnement .rope path.v-line {
	stroke-dasharray: 1080px;
	stroke-dashoffset: 1080px;
}

#section-conditionnement.seen .rope path.v-line {
	animation: draw-vertical 2s ease-in-out forwards;
}

/* -------------------------------------------------------------------------- */

main section .layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

main section .layer.back {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------- */

/* Titrage + Contenu */
main section.seen .title .g-label {
	animation: 1s ease-out 1.5s window-fromleft both;
	-webkit-animation: 1s ease-out 1.5s window-fromleft both;
}

main section.seen .title h4 {
	animation: 1s ease-out 1.5s fade-fromright both;
	-webkit-animation: 1s ease-out 1.5s fade-fromright both;
}

main section.seen .title h2,
main section.seen .title h1 {
	animation: 1s ease-out 2s fade-fromright both;
	-webkit-animation: 1s ease-out 2s fade-fromright both;
}

main section.seen p.t-regular {
	animation: 1s ease-out 2.5s fade-fromright both;
	-webkit-animation: 1s ease-out 2.5s fade-fromright both;
}

main section.seen ul.t-regular {
	animation: 1s ease-out 2.5s fade-fromright both;
	-webkit-animation: 1s ease-out 2.5s fade-fromright both;
}

/* CHARTE */
/* Titres */
h1,
.t-title-1 {
	font-size: 281.25%;
	color: inherit;
	font-weight: bold;
	letter-spacing: 0.02em;
}

.article-content h1,
h2,
.t-title-2 {
	font-size: 237.5%;
	color: inherit;
	font-weight: bold;
	letter-spacing: 0.025em;
}

.article-content h2,
h3,
.t-title-3 {
	font-size: 187.5%;
	color: inherit;
	font-weight: bold;
	letter-spacing: 0.045em;
}

h4,
.t-title-4 {
	font-size: 100%;
	color: inherit;
	letter-spacing: 0.076em;
}

/* Couleurs */
/* Primaires */
.t-pcolor-1 {
	color: #023646;
}

.b-pcolor-1 {
	background-color: #023646;
}

.t-pcolor-2 {
	color: #e20953;
}

.b-pcolor-2 {
	background-color: #e20953;
}

.t-pcolor-3 {
	color: #dfedf3;
}

.b-pcolor-3 {
	background-color: #dfedf3;
}

.t-pcolor-4 {
	color: #ffffff;
}

.b-pcolor-4 {
	background-color: #ffffff;
}

/* Secondaires */
.t-scolor-1 {
	color: #0de0b8;
}

.b-scolor-1 {
	background-color: #0de0b8;
}

.t-scolor-2 {
	color: #eaf3f7;
}

.b-scolor-2 {
	background-color: #eaf3f7;
}

.t-scolor-3 {
	color: #f5f9fb;
}

.b-scolor-3 {
	background-color: #f5f9fb;
}

/* Gammes */
.t-gcolor-1 {
	color: #0de0b8;
}

.b-gcolor-1 {
	background-color: #0de0b8;
}

.t-gcolor-2 {
	color: #eaf3f7;
}

.b-gcolor-2 {
	background-color: #eaf3f7;
}

.t-gcolor-3 {
	color: #f5f9fb;
}

.b-gcolor-3 {
	background-color: #f5f9fb;
}

/* Animation */
#section-conditionnement.seen .back .half .v-half {
	opacity: 1;
	animation: 1s ease-in-out 0.5s window-fromtop both;
	-webkit-animation: 1s ease-in-out 0.5s window-fromtop both;
}

#section-conditionnement.seen .back .half.right .v-half.bottom {
	opacity: 1;
	animation: 1s ease-in-out 0.5s window-frombot both;
	-webkit-animation: 1s ease-in-out 0.5s window-frombot both;
}

#section-conditionnement.seen .half .circle {
	opacity: 1;
	animation: 1s ease-in-out 1s circle-fromcenter both;
	-webkit-animation: 1s ease-in-out 1s circle-fromcenter both;
}

#section-conditionnement.seen .wave.wave-savoirfaire-5-fore,
#section-conditionnement.seen .wave.wave-savoirfaire-5-back {
	animation: 1.25s ease-in-out 1.75s window-fromleft both;
	-webkit-animation: 1.25s ease-in-out 1.75s window-fromleft both;
	opacity: 1;
}

/* Sections */
main section {
	position: relative;
	width: 100%;
}

main section.dark {
	color: white;
}

main section.dark .layer.back {
	background-color: #023646;
}

main section.min-fitscreen {
	min-height: 100vh;
}

main section.fitscreen {
	height: 100vh;
}

main section.fitscreen-handle {
	height: calc(100vh - 3.75em);
	height: -webkit-calc(100vh - 3.75em);
}

main section .layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

main section .layer.back {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main section .layer .rope {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

main section .layer .rope svg {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

main section .layer .contour svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

main section .layer .sketch {
	/* opacity: 0; */
	/* opacity:1 quand dashOffset réglé par js */
}

main section .layer .half {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

main section .layer .half.right {
	float: right;
}

main section .layer .half .middle-holder {
	text-align: left;
}

main section .layer.back .half.image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main section .next-screen {
	position: absolute;
	z-index: 60;
	display: block;
	width: 10em;
	bottom: 3em;
	left: 50%;
	margin-left: -5em;
	line-height: 2em;
	text-align: center;
	opacity: 0;
}

/* Mobile */
@media screen and (max-width: 900px) {
	main section .next-screen {
		display: none;
	}
}

/* V-half */
main section .layer .v-half {
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
}

main section .layer .v-half.v-half-40 {
	height: 40%;
}

main section .layer .v-half.v-half-45 {
	height: 45%;
}

main section .layer .v-half.v-half-55 {
	height: 55%;
}

main section .layer .v-half.v-half-60 {
	height: 60%;
}

main section .layer .v-half.v-half-65 {
	height: 65%;
}

main section .layer .v-half.bottom {
	top: auto;
	bottom: 0;
	left: 0;
}

main section .stick-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* Conditionnement */
#section-conditionnement .back .half .v-half {
	opacity: 0;
}

#section-conditionnement .half.right .circle {
	position: relative;
	z-index: 52;
	opacity: 0;
	width: 100%;
	border-radius: 50%;
	background-image: url('/savoirfaire_circle_conditionnement.jpg.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#section-conditionnement .wave.wave-savoirfaire-5-back {
	z-index: 51;
	height: 19em;
	top: 50%;
	right: 0;
	margin-right: -6em;
	margin-top: -9.5em;
}

#section-conditionnement .wave.wave-savoirfaire-5-fore {
	z-index: 53;
	height: 8em;
	top: 50%;
	right: 0;
	margin-right: -6em;
	margin-top: -4em;
}

/* Animation */
#section-conditionnement.seen .back .half .v-half {
	opacity: 1;
	animation: 1s ease-in-out 0.5s window-fromtop both;
	-webkit-animation: 1s ease-in-out 0.5s window-fromtop both;
}

#section-conditionnement.seen .back .half.right .v-half.bottom {
	opacity: 1;
	animation: 1s ease-in-out 0.5s window-frombot both;
	-webkit-animation: 1s ease-in-out 0.5s window-frombot both;
}

#section-conditionnement.seen .half .circle {
	opacity: 1;
	animation: 1s ease-in-out 1s circle-fromcenter both;
	-webkit-animation: 1s ease-in-out 1s circle-fromcenter both;
}

#section-conditionnement.seen .wave.wave-savoirfaire-5-fore,
#section-conditionnement.seen .wave.wave-savoirfaire-5-back {
	animation: 1.25s ease-in-out 1.75s window-fromleft both;
	-webkit-animation: 1.25s ease-in-out 1.75s window-fromleft both;
	opacity: 1;
}

/* Forme auto */
img.square {
	width: 100%;
	outline: 0;
	vertical-align: middle;
}

img.square-fit {
	object-fit: contain;
	object-position: center center;
	height: 100%;
	width: 100%;
	outline: 0;
	vertical-align: middle;
}

/* -------------------------------------------------------------------------- */

/* Sections */
main section {
	position: relative;
	width: 100%;
}

main section.dark {
	color: white;
}

main section.dark .layer.back {
	background-color: #023646;
}

main section.min-fitscreen {
	min-height: 100vh;
}

main section.fitscreen {
	height: 100vh;
}

main section.fitscreen-handle {
	height: calc(100vh - 3.75em);
	height: -webkit-calc(100vh - 3.75em);
}

main section .layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

main section .layer.back {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main section .layer .rope {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

main section .layer .rope svg {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

main section .layer .contour svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

main section .layer .sketch {
	/* opacity: 0; */
	/* opacity:1 quand dashOffset réglé par js */
}

main section .layer .half {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

main section .layer .half.right {
	float: right;
}

main section .layer .half .middle-holder {
	text-align: left;
}

main section .layer.back .half.image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main section .next-screen {
	position: absolute;
	z-index: 60;
	display: block;
	width: 10em;
	bottom: 3em;
	left: 50%;
	margin-left: -5em;
	line-height: 2em;
	text-align: center;
	opacity: 0;
}

/* Mobile */
@media screen and (max-width: 900px) {
	main section .next-screen {
		display: none;
	}
}

/* V-half */
main section .layer .v-half {
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
}

main section .layer .v-half.v-half-40 {
	height: 40%;
}

main section .layer .v-half.v-half-45 {
	height: 45%;
}

main section .layer .v-half.v-half-55 {
	height: 55%;
}

main section .layer .v-half.v-half-60 {
	height: 60%;
}

main section .layer .v-half.v-half-65 {
	height: 65%;
}

main section .layer .v-half.bottom {
	top: auto;
	bottom: 0;
	left: 0;
}

main section .stick-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*  */

/* Padding */
.left-pad-2 {
	padding-left: 2em;
}

.right-pad-2 {
	padding-right: 2em;
}

.left-pad-3 {
	padding-left: 3em;
}

.right-pad-3 {
	padding-right: 3em;
}

.left-pad-4 {
	padding-left: 4em;
}

.right-pad-4 {
	padding-right: 4em;
}

.left-pad-5 {
	padding-left: 5em;
}

.right-pad-5 {
	padding-right: 5em;
}

.left-pad-6 {
	padding-left: 6em;
}

.right-pad-6 {
	padding-right: 6em;
}

.left-pad-8 {
	padding-left: 8em;
}

.right-pad-8 {
	padding-right: 8em;
}

.left-pad-10 {
	padding-left: 10em;
}

.right-pad-10 {
	padding-right: 10em;
}

.left-pad-12 {
	padding-left: 12em;
}

.right-pad-12 {
	padding-right: 12em;
}

.left-pad-15 {
	padding-left: 15em;
}

.right-pad-15 {
	padding-right: 15em;
}

.left-pad-18 {
	padding-left: 18em;
}

.right-pad-18 {
	padding-right: 18em;
}

.left-pad-20 {
	padding-left: 20em;
}

.right-pad-20 {
	padding-right: 20em;
}

.top-pad-0-5 {
	padding-top: 0.5em;
}

.top-pad-1 {
	padding-top: 1em;
}

.top-pad-1-5 {
	padding-top: 1.5em;
}

.top-pad-2 {
	padding-top: 2em;
}

.top-pad-3 {
	padding-top: 3em;
}

.top-pad-4 {
	padding-top: 4em;
}

.bot-pad-1 {
	padding-bottom: 1em;
}

.bot-pad-05 {
	padding-bottom: 0.5em;
}

.top-pad-6 {
	padding-top: 6em;
}

.bot-pad-6 {
	padding-bottom: 6em;
}

.top-pad-7 {
	padding-top: 7em;
}

.bot-pad-7 {
	padding-bottom: 7em;
}

.v-pad-10 {
	padding-top: 10em;
	padding-bottom: 10em;
}

/* Marges */
.centered-small {
	display: block;
	width: calc(100% - 10em);
	max-width: 70em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-thin {
	display: block;
	width: calc(100% - 10em);
	max-width: 85em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-wide {
	display: block;
	width: calc(100% - 10em);
	max-width: 90em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-semiwide {
	display: block;
	width: calc(100% - 10em);
	max-width: 96em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-large {
	display: block;
	width: calc(100% - 10em);
	max-width: 100em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

main section .next-screen {
	position: absolute;
	z-index: 60;
	display: block;
	width: 10em;
	bottom: 3em;
	left: 50%;
	margin-left: -5em;
	line-height: 2em;
	text-align: center;
	opacity: 0;
}

main section.seen .next-screen {
	animation: 1s ease-in-out 3s fade-in both;
	-webkit-animation: 1s ease-in-out 3s fade-in both;
}

/* -------------------------------------------------------------------------- */

/* V-half */
main section .layer .v-half {
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
}

main section .layer .v-half.v-half-40 {
	height: 40%;
}

main section .layer .v-half.v-half-45 {
	height: 45%;
}

main section .layer .v-half.v-half-55 {
	height: 55%;
}

main section .layer .v-half.v-half-60 {
	height: 60%;
}

main section .layer .v-half.v-half-65 {
	height: 65%;
}

main section .layer .v-half.bottom {
	top: auto;
	bottom: 0;
	left: 0;
}

main section .stick-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* V-half */

/* V-half */
main section .layer .v-half {
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
}

main section .layer .v-half.v-half-40 {
	height: 40%;
}

main section .layer .v-half.v-half-45 {
	height: 45%;
}

main section .layer .v-half.v-half-55 {
	height: 55%;
}

main section .layer .v-half.v-half-60 {
	height: 60%;
}

main section .layer .v-half.v-half-65 {
	height: 65%;
}

main section .layer .v-half.bottom {
	top: auto;
	bottom: 0;
	left: 0;
}

main section .stick-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* -------------------------------------------------------------------------- */

/* Dimensions */
.half {
	position: relative;
	width: 50%;
}

.quarter {
	position: relative;
	width: 25%;
}

.third {
	position: relative;
	width: calc(100% / 3);
	width: -webkit-calc(100% / 3);
}

.two-third {
	position: relative;
	width: calc((100% / 3) * 2);
	width: -webkit-calc((100% / 3) * 2);
}

.three-quarter {
	position: relative;
	width: 75%;
}

.width-60 {
	position: relative;
	width: 60%;
}

.width-40 {
	position: relative;
	width: 40%;
}

.width-100 {
	width: 100%;
}

.height-40 {
	height: 40%;
}

.height-50 {
	height: 50%;
}

.height-60 {
	height: 60%;
}

.height-100 {
	height: 100%;
}

.fitheight {
	height: 100%;
	height: calc(100%);
	height: -webkit-calc(100%);
}

.fitheight-nextscreen {
	height: calc(100% - 8.5em);
	height: -webkit-calc(100% - 8.5em);
}

.fitheight-nextscreen-middle {
	margin-top: 6.5em;
	height: calc(100% - 15em);
	height: -webkit-calc(100% - 15em);
}

.min-height-letter {
	min-height: 34em;
}

/* Mobile */
@media screen and (max-width: 900px) {
	.fitheight-nextscreen {
		height: calc(100% - 2em);
		height: -webkit-calc(100% - 2em);
	}
}

/* Livraison */
#section-livraison .back .half .v-half {
	opacity: 0;
}

#section-livraison .half .circle {
	position: relative;
	z-index: 52;
	opacity: 0;
	width: 100%;
	border-radius: 50%;
	background-image: url('/savoirfaire_circle_livraison.jpg.webp');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

#section-livraison .wave.wave-savoirfaire-6-back {
	z-index: 51;
	height: 5em;
	bottom: 0;
	left: 50%;
	margin-left: -5em;
	margin-bottom: -4em;
}

#section-livraison .wave.wave-savoirfaire-6-fore {
	z-index: 53;
	height: 5em;
	top: 0;
	left: 50%;
	margin-left: -5em;
	margin-top: -4em;
}

/* Animation */
#section-livraison.seen .back .half.right .v-half {
	opacity: 1;
	animation: 1s ease-in-out 0.5s window-fromtop both;
	-webkit-animation: 1s ease-in-out 0.5s window-fromtop both;
}

#section-livraison.seen .back .half .v-half.bottom {
	opacity: 1;
	animation: 1s ease-in-out 0.5s window-frombot both;
	-webkit-animation: 1s ease-in-out 0.5s window-frombot both;
}

#section-livraison.seen .half .circle {
	opacity: 1;
	animation: 1s ease-in-out 1s circle-fromcenter both;
	-webkit-animation: 1s ease-in-out 1s circle-fromcenter both;
}

#section-livraison.seen .wave.wave-savoirfaire-6-fore,
#section-livraison.seen .wave.wave-savoirfaire-6-back {
	animation: 1.25s ease-in-out 1.75s window-fromleft both;
	-webkit-animation: 1.25s ease-in-out 1.75s window-fromleft both;
	opacity: 1;
}

/* Sections */
main section {
	position: relative;
	width: 100%;
}

main section.dark {
	color: white;
}

main section.dark .layer.back {
	background-color: #023646;
}

main section.min-fitscreen {
	min-height: 100vh;
}

main section.fitscreen {
	height: 100vh;
}

main section.fitscreen-handle {
	height: calc(100vh - 3.75em);
	height: -webkit-calc(100vh - 3.75em);
}

main section .layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

main section .layer.back {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main section .layer .rope {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

main section .layer .rope svg {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

main section .layer .contour svg {
	display: inline-block;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

main section .layer .sketch {
	/* opacity: 0; */
	/* opacity:1 quand dashOffset réglé par js */
}

main section .layer .half {
	float: left;
	width: 50%;
	box-sizing: border-box;
}

main section .layer .half.right {
	float: right;
}

main section .layer .half .middle-holder {
	text-align: left;
}

main section .layer.back .half.image {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

main section .next-screen {
	position: absolute;
	z-index: 60;
	display: block;
	width: 10em;
	bottom: 3em;
	left: 50%;
	margin-left: -5em;
	line-height: 2em;
	text-align: center;
	opacity: 0;
}

/* Mobile */
@media screen and (max-width: 900px) {
	main section .next-screen {
		display: none;
	}
}

/* V-half */
main section .layer .v-half {
	position: absolute;
	top: 0;
	left: 0;
	height: 50%;
	width: 100%;
}

main section .layer .v-half.v-half-40 {
	height: 40%;
}

main section .layer .v-half.v-half-45 {
	height: 45%;
}

main section .layer .v-half.v-half-55 {
	height: 55%;
}

main section .layer .v-half.v-half-60 {
	height: 60%;
}

main section .layer .v-half.v-half-65 {
	height: 65%;
}

main section .layer .v-half.bottom {
	top: auto;
	bottom: 0;
	left: 0;
}

main section .stick-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* COMMUN */
/* Centrage */
.middle-holder {
	display: table;
	height: 100%;
	width: 100%;
}

.middle-holder .middle {
	vertical-align: middle;
	width: 100%;
	display: table-cell;
}

.center-holder {
	text-align: center;
}

.left-holder {
	text-align: left;
}

.right-holder {
	text-align: right;
}

/* Marges */
.centered-small {
	display: block;
	width: calc(100% - 10em);
	max-width: 70em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-thin {
	display: block;
	width: calc(100% - 10em);
	max-width: 85em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-wide {
	display: block;
	width: calc(100% - 10em);
	max-width: 90em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-semiwide {
	display: block;
	width: calc(100% - 10em);
	max-width: 96em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

.centered-large {
	display: block;
	width: calc(100% - 10em);
	max-width: 100em;
	box-sizing: border-box;
	margin: 0 auto;
	height: 100%;
}

/* Vagues / Chevrons / Guillemets / Gouttes */
.wave {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.wave svg {
	height: 100%;
	vertical-align: middle;
}

/* Poignée */
main .handler-container {
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 100%;
	height: 3.75em;
	text-align: center;
}

main .handler-container.bottom {
	position: absolute;
	top: 100%;
	bottom: auto;
	left: 0;
	width: 100%;
	height: 3.75em;
	text-align: center;
}

main .handler-container .handler {
	opacity: 0;
	display: inline-block;
	height: 100%;
	margin-top: 1px;
}

main .handler-container.bottom .handler {
	margin-top: -1px;
}

main .handler-container .handler svg {
	height: 100%;
}

/* ANIMATIONS GENERALES */
/* Fadeloading */
main .layer.loading {
	background-color: white;
	opacity: 1;
	pointer-events: none;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

main .loaded .layer.loading {
	opacity: 0;
}

main section .next-screen {
	position: absolute;
	z-index: 60;
	display: block;
	width: 10em;
	bottom: 3em;
	left: 50%;
	margin-left: -5em;
	line-height: 2em;
	text-align: center;
	opacity: 0;
}

/* Mobile */
@media screen and (max-width: 900px) {
	main section .next-screen {
		display: none;
	}
}
