@import 'tailwindcss';
@import './animations';
@import './hero';

:root {
	--background: #ffffff;
	--foreground: #345;

	--background-dark: rgb(15, 20, 25);
	--foreground–dark: #abc;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	
	--font-sans: Tuffy, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* --font-mono: var(--font-geist-mono); */

	--opacity-50: 0.5;
	--opacity-75: 0.75;
	--opacity-100: 1;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: var(--background-dark);
		--foreground: var(--foreground–dark);
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: Arial, Helvetica, sans-serif; */
	/* font-family: 'Elms Sans', sans-serif; */
	font-family: var(--font-sans);
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Stack Sans Headline', var(--font-sans);
	line-height: 1.15;
}
	