@import 'tailwindcss';
@import './animations';
@import './hero';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #101523;
		--foreground: #ffffff;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	/* font-family: Arial, Helvetica, sans-serif; */
	/* font-family: 'Elms Sans', sans-serif; */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Stack Sans Headline', sans-serif;
	line-height: 1.15;
}
